body {
    background: #CCCCCC;
		background-image:url(https://raw.githubusercontent.com/JuneGabi/TumblrJune/main/assets/images/bg-tree.png);
}

p {
    text-align: center;
}

em {
    color: blueviolet;
}
